@use '../base' as *;

.btn {
    cursor: pointer;
    border: 0;
    background: transparent;
    color: var(--clr-neutral-200);
    font-weight: 700;
    display: inline-block;
}

.nav-toggle {
    z-index: 200;

    @media(min-width: 800px) {
        display: none;
    }
}

.btn--request {
    padding: 0.8em 2em;
    border-radius: 100vmax;
    background: linear-gradient(90deg, var(--clr-green), var(--clr-light-blue));

    &:hover {
        background: linear-gradient(90deg, hsl(136, 65%, 73%), hsl(192, 70%, 73%));
    }
}