@use '../base' as *;

.footer {
    padding: 2.5em 0;
    background-color: var(--clr-dark-blue);
    color: var(--clr-neutral-200);
    text-align: center;

    .logo {
        @media(max-width: 830px) {
            margin-inline: auto;
        }
    }

    .socials {
        margin: 2rem 0;
        display: flex;
        justify-content: center;

        li {
            &:hover svg path {
                fill: #31d35c;
            }

        }

        li+li {
            margin-left: 1rem;
        }
    }

    &__cta {
        @media(max-width: 830px) {
            margin-top: 2rem;
        }

        &__p {
            margin-top: 2rem;
        }
    }
}

.footer-nav {
    &__item {
        &:hover {
            color: var(--clr-green);
        }
    }

    &__item+&__item {
        margin-top: 1rem;
    }
}

@media(max-width: 830px) {
    .footer-nav+.footer-nav {
        margin-top: 1rem;
    }
}


body {
    position: relative;
}

@media(min-width: 830px) {
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: start;

        .socials {
            margin: 2rem 0;
        }
    }
}