@use 'base' as *;
@use 'components' as *;
@use 'layout' as *;


.section--hero {
    padding: 2em 0 6em 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    text-align: center;
    position: relative;

    &__img {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url('../../images/bg-intro-mobile.svg');
            background-repeat: no-repeat;
            background-size: 120%;
            z-index: -1;
        }

        @media(max-width: 830px) {
            order: -1;
            margin-bottom: 1rem;
        }
    }

    &__p {
        margin: 1.5rem 0;
    }
}

.section--why {
    &__p {
        margin: 1.5rem 0 3rem 0;
    }

    &__articles {
        display: grid;
        gap: 2rem;
    }

    padding: 3.5em 0;
    background-color: var(--clr-neutral-200);
    text-align: center;
}

.section--news {
    background-color: var(--clr-neutral-100);
    padding: 5em 0;
    text-align: center;

    &__articles {
        margin-top: 2rem;
    }

}

@media (min-width: 830px) {
    .section--hero {
        padding: 2em 0 0 0;
        text-align: start;

        .container {
            flex-direction: row;
        }

        &__content {
            width: min(70%, 500px);
            margin-top: clamp(8vw, 5rem, 10rem);
        }

        &__img {
            img {
                z-index: 500;
                position: relative;
                transform: translate(25%, -15%);

            }

            &::before {
                inset: -35% 0 0 42%;
                background-image: url('../../images/bg-intro-desktop.svg');
                background-size: cover;

            }
        }
    }

    .section--why {
        transform: translateY(max(-18vw, -50%));

        padding: 7em 0;
        text-align: start;

        &__p {
            max-width: 60ch;
        }

        &__articles {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);

            @media(min-width: 1100px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

    }

    .section--news {
        transform: translateY(max(-20vw, -40%));

        img {
            width: 276px;
            max-height: 184px;
        }

        text-align: start;

        &__articles {
            margin-top: 2rem;
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);

            @media(min-width: 1100px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}